@using Microsoft.AspNetCore.Identity;
@model Blog.Web.Models.Domain.BlogPost
@inject SignInManager<IdentityUser> signInManager


@{
	ViewData["Title"] = Model.PageTitle;
}


<div class="container my-5">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-6">
			@if (Model != null)
			{
				<h1 class="mb-3">@Model.Heading</h1>

				<div class="d-flex justify-content-between mb-3">
					<span class="text-secondary">@Model.Author</span>
					<span class="text-secondary">@Model.PublishedDate.ToShortDateString()</span>
					</div>

					<div class="mb-3 d-flex">
					@foreach (var tag in Model.Tags)
					{
						<span class="badge bg-secondary me-1">@tag.Name</span>
					}
				</div>

					<img src="@Model.FeaturedImageUrl" class="d-block img-fluid mb-3"/>


					<div class="mb-3 blog-details-content">
						@Html.Raw(@Model.Content)
					 </div>

					 <div class="mt-2 mb-3">
						
					@if(signInManager.IsSignedIn(User))
					{
						<h4>Share your story in comments with us too!</h4>
					}
					else
					{
						<h5>Please Log In to share your stories witn us in comment section </h5>
					}
				</div>

					 <div class="mb-5 blog-details-content container">
						 <table class="border-5">
							 <h2>Comments</h2>
							 
							 <div class="mb-3">
								 <textarea class="form-control" id="comment"></textarea>
							<button type="submit" class="btn btn-primary mt-2">Submit</button>
							 </div>

						 </table>
					 </div>


			}
			else
			{
				<p>Blog Post Not Found</p>
			}


		</div>
	</div>
</div>