@model List<Blog.Web.Models.Domain.BlogPost>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Blog - The Life Of Yash
            </h1>
            <p class="lead">
                Blog is the gome of life blogs covering a vast range of Sorrow,Disappointment,Horror and Mystrey 
                and a little bit of coding topics. Want to read the day-to-day relatable articles? Join me on this App 
                and got weekly blogs in your email.
            </p>
        </div>


        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/4974915/pexels-photo-4974915.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Blog - Yash blogs" class="d-block mx-lg-auto img-fluid" width="300" />
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if (Model != null && Model.Any())
            {
                foreach (var blogpost in Model)
                {
                    <div class="mb-5 bg-light box-shadow p-5">
                        <img src="@blogpost.FeaturedImageUrl" alt="@blogpost.Heading" class="mb-2 d-block img-fluid"/>

                        <h2 class="mb-4">@blogpost.Heading</h2>

                        <p class="mb-4">
                            @blogpost.Author
                            <br/>
                            Published Date: @blogpost.PublishedDate.ToShortDateString()
                        </p>

                        <p class="mb-4">
                            @foreach (var tag in blogpost.Tags)
                            {
                                <span class="badge bg-secondary me-1">@tag.Name</span>
                            }
                        </p>

                        <p class="mb-4">@blogpost.ShortDescription</p>

                        <a class="btn btn-dark" asp-area=""
                        asp-controller="Blogs"
                        asp-action="Index"
                        asp-route-urlHandle="@blogpost.UrlHandle"
                        >Read More</a>
                        </div>
                }
            }




        </div>
    </div>
</div>